<section class="visitor-map-card">
  <div class="visitor-map-card__header">
    <!-- <p class="visitor-map-card__eyebrow">Website traffic</p>
    <h2 class="visitor-map-card__title">Visitors around the world</h2>
    <p class="visitor-map-card__text">
      Live visitor globe powered by RevolverMaps.
    </p> -->
  </div>

  <div class="visitor-map-card__embed">
    <script type='text/javascript' id='mapmyvisitors' src='https://mapmyvisitors.com/map.js?cl=ffffff&w=a&t=m&d=a2pswPwPySnEh73HqFe_dc-_ofCFxXwOmR_6BprbB6M&co=2d78ad&cmo=3acc3a&cmn=ff5353&ct=ffffff'></script>
  </div>

</section>

  <!-- <div class="visitor-map-card__header">
    <p class="visitor-map-card__eyebrow">Website traffic</p>
    <h2 class="visitor-map-card__title">Visitors around the world</h2>
    <p class="visitor-map-card__text">
      Live visitor globe powered by MapMyVisitors.
    </p>
  </div> -->
